
<div class="jumbotron background-primary">

    <h1 class="display-4 text-center ">
        {{ header }}
    </h1>
</div>



<div class="container">
    
    <div class="alert alert-success" *ngIf="isSaved" role="alert">
        Informacion enviada, pronto te responderemos :)
    </div>

    <form class="col-12 col-md-8 offset-md-2" >

        <div class="form-group">
            <label for="name">Nombre</label>
            <input
                name="name"
                type="text"
                [(ngModel)]="contact.name"
                placeholder="Nombre"
                class="form-control" 
            />
            <span class="text-danger">{{ errors.name?.msg }}</span>
        </div>


        <div class="form-group">
            <label for="company_name">Nombre de la empresa</label>
            <input
                name="company_name"
                type="text"
                [(ngModel)]="contact.company_name"
                placeholder="Nombre de la empresa"
                class="form-control" 
            />
            <span class="text-danger">{{ errors.company_name?.msg }}</span>
        </div>

        <div class="form-group">
            <label for="email">Correo electronico</label>
            <input
                name="email"
                type="text"
                [(ngModel)]="contact.email"
                placeholder="Correo electronico"
                class="form-control" 
            />
            <span class="text-danger">{{ errors.email?.msg }}</span>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="phone">Telefono</label>
                <input
                    name="phone"
                    type="text"
                    [(ngModel)]="contact.phone"
                    placeholder="Telefono"
                    class="form-control" 
                />
                <span class="text-danger">{{ errors.phone?.msg }}</span>
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="category">Categoria</label>
                <select name="category" [(ngModel)]="contact.category" class="form-control" >
                    <option value=""> Seleccione</option>
                    <option *ngFor="let category of categories" [value]="category.id">
                        <span>{{ category.name }}</span>
                    </option>
                </select>
                <span class="text-danger">{{ errors.category?.msg }}</span>
            </div>
        </div>

        
        <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea
                name="message"
                type="text"
                [(ngModel)]="contact.message"
                class="form-control" 
            >
            </textarea>
            <span class="text-danger">{{ errors.message?.msg }}</span>
        </div>

        <div class="form-group">
            <input value="Save" class="btn background-primary" type="submit" (click)="saveContact()" />
        </div>

    </form>
</div>
